{{#if newName}}
<h2> A person has been added to the database with the name of {{newName}} </h2>
{{/if}}


{{!-- There will be  an issue if the name has a space
this is due to url encoding and I covered this in week11 --}}

<ul>
  {{#each personlist}}
    <li><a href=/staff/{{this.name}}>
      {{this.name}}</a></li>
</li>
  {{/each}}
</ul>